 
@mixin background ($imgpath, $position: center, $size: 30%, $repeat: no-repeat )
	  background-image: url($imgpath) 
	  background-position: $position
	  background-repeat: $repeat
	  background-size: $size
      
body
	background-color: #303030
	
h3
	font-size: 100%

.clientData
	color: #fefefe

	.clientDataOnlineStatus
		margin: 0 0 1em 0
		span:nth-child(1)
			@include background ('../img/icons/green-dot.svg', center, 50%)
			width: 1em
			height: 0.7em
			display: inline-block
			
	.clientDataLabel
		color: #767676
		font-size: 0.7em
		word-spacing: normal


	.clientDataFitures
		padding-left: 0
		div
			margin-bottom: 0.4em
		.card_inscription
			font-size: 0.85em
		.clientPhoneVisibility 
			@include background ('../img/icons/hide.svg', center, 40%)
			
		.clientEmail 
		  	@include background ('../img/icons/contact.svg', center, 40%)
	.clientPhoto 
		img
	  		max-width: 215px
	  		max-height: 204px
	  		width: 100%
	  		height: auto
		@include background ('../img/icons/photo-camera.svg', center, 6em)
	.clientDataLanguages
		align-items: baseline
		margin-top: 0.75em
		.clientDataLabel
		ul	
			margin: 0
			padding: 0
			li
				margin-right: 0.25em
				display: inline-block
				&:not(:first-child)
					&::before
						content: '\B7'
						margin-right: 0.25em
	.clientDataReview
		align-items: baseline
		margin-top: 0.75em
		.positivReview
			color: #41f0ad
		.negativeReview
			color: #f8705a
	.clientDataAboutClient
		margin-top: 0.75em
		font-size: 0.8em
	.clientDataIcons
		height: 3em
		& div:nth-child(1)
			@include background ('../img/icons/skype.svg', center, 50%)				
		& div:nth-child(2)
			@include background ('../img/icons/whatsapp.svg', center, 50%)		
		& div:nth-child(3)
			@include background ('../img/icons/facebook.svg', center, 50%)	
		& div:nth-child(4)
			@include background ('../img/icons/instagram.svg', center, 50%)		
		& div:nth-child(5)
			@include background ('../img/icons/viber.svg', center, 50%)		
	
	.clientDataGraphic
		margin-bottom: 2em



	.clientDataStatistic
		margin-top: 1.25em
		h3
			text-size: 1em
			line-height: 2em
			text-transform: uppercase
			text-align: center
		.clientDataStatisticOpen
			color: blue
		.clientDataStatisticOpen, 
		.clientDataStatisticCloses
			font-size: 5em
		div:nth-child(3)
			font-sise: 1em
			color: #767676


.clientsRequests
	background-color: #fefefe
	margin-top: 7.2em
	.clientsRequestsOpen
		h3	
			font-size: 1em
			margin-top: 2em 
			margin-bottom: 1em
			padding: 0 
		>div
			display: flex
			flex-direction: row
			align-items: stratch
			border: 1px solid #ccc
			padding: 0
		.root
			background: linear-gradient(#c9c9c9, #c9c9c9);
			background-size: 1px 70%;
			background-repeat: no-repeat;
			background-position: right center;
			.clientsRequestsOpenIcon
				@include background ('../img/icons/target.svg', right, 1.3em)
			.clientsRequestsOpenFitures	
				.clientsRequestsOpenFituresLabel
					color: #c9c9c9
					font-size: 0.65em
				.clientsRequestsOpenFituresTowns
					color:#222222
					font-size: 0.75em
					display: inline-block
					width: 37%
					& span
						display: block
				.clientsRequestsOpenFituresDate
					> div
						width: 2.5em
						height: 2.5em
						background-color: #f2f2f2
						border: 1px solid #e3e3e3
						border-radius: 2px
						.clientsRequestsOpenFituresDateNumber
							font-size: 0.8em
							text-align: center
						.clientsRequestsOpenFituresDateDay
							font-size: 0.5em
							text-transform: lowercase
							text-align: center
			.rootMap
				.rootMapLocationPoint
					@include background ('../img/icons/location_point.svg', right, 0.9em)
				div:nth-child(2)
					font-size: 0.6em
					letter-spacing: 0px

		.cargoType
			font-size: 0.75em
			background: linear-gradient(#c9c9c9, #c9c9c9);
			background-size: 1px 70%;
			background-repeat: no-repeat;
			background-position: right center;
			& >span:first-child
				width: 1.25em
				height: 1.25em
				display: inline-block
				@include background ('../img/icons/lorry.svg', center, 100%)	

			.clientsRequestsOpenСargoType
				color:#222222
				& >span:first-child
					width: 1.25em
					height: 1.25em
					display: inline-block
					@include background ('../img/icons/yellow_dot.svg', center, 70%)	
			
			.clientsRequestsOpenСargoTypeName
				color:#222222
				font-size: 0.75em


		.comments
			background: linear-gradient(#c9c9c9, #c9c9c9);
			background-size: 1px 70%;
			background-repeat: no-repeat;
			background-position: right center;
			color:#222222
			p,
			a
				font-size: 0.75em
			div
				>span:first-child
					width: 1.25em
					height: 1.25em
					display: inline-block
					@include background ('../img/icons/comments.svg', center, 70%)
			
		.rate
			background: linear-gradient(#c9c9c9, #c9c9c9);
			background-size: 1px 70%;
			background-repeat: no-repeat;
			background-position: right center;
			color:#222222
			.clientsRequestsOpenLabel
				text-align: center

			.clientsRequestsOpenRate
				font-size: 1.65em
				text-align: center
			.iconHammer
				width: 1.25em
				height: 1.25em
				display: inline-block
				@include background ('../img/icons/hammer.svg', center, 70%)
			.iconEye
				width: 1.25em
				height: 1.25em
				display: inline-block
				@include background ('../img/icons/eye.svg', center, 70%)
			.rateQuentity,
			.rateViewes
				font-size: 0.8em

		.buyRate
			color:#222222
			display: flex
			flex-direction: row
			justify-content: center
			button
				border: 0px solid
				border-radius: 16px
				padding: 0 1em 0 1em
				background-color: #5494d4
				line-height: 2.8em
				font-size: 0.68em
				color: #fff
				align-self: center
		.clientsRequestsOpenLabel
			color: #c9c9c9
			font-size: 0.75em
	.applications
		h3
			font-size: 1em
			padding: 0 
			margin: 3.75em 0 2.2em 4.5em

		table
			color: #bababa
			tr
				td
					border-bottom: 1px solid #e3e3e3
					padding: 1em
					text-align: center
					vertical-align: top
				td:nth-child(1)
					width: 24%
					border-right: 1px solid #e3e3e3
				td:nth-child(2)
					width: 13%
					border-right: 1px solid #e3e3e3
				td:nth-child(3)
					width: 17%
					border-right: 1px solid #e3e3e3
				td:nth-child(4)
					width: 33%
					border-right: 1px solid #e3e3e3
					span
						color: #5595d3
						text-transform: lowercase
				td:nth-child(5)
					width: 13%
					span
						display: block
	nav
		margin: 2.8em 0 6em
		ul
			justify-content: center
			.back
				width: 1.25em
				height: 1.25em
				display: inline-block
				@include background ('../img/icons/back.svg', center, 80%)
			.next
				width: 1.25em
				height: 1.25em
				display: inline-block
				@include background ('../img/icons/next.svg', center, 80%)
		.page-link
			border: 0px
			&:hover
				border-bottom: 2px solid #5494d4
				border-radius: 0
	.clientsRequestsReviews
		padding-left: 6.56em
		list-style: none			
		li
			margin-right: 0.15em
			display: inline-block
			&:not(:first-child)
				&::before
					content: '\B7'
					margin-right: 0.15em
		.clientsRequestsReviewsAll
			font-size: 1em
		.clientsRequestsReviewsPositive
			font-size: 0.75em
			span:nth-child(1)
				color: #02dc30
			span:nth-child(2)
				color: #c0c0c0
		.clientsRequestsReviewsNegative
			font-size: 0.75em
			span:nth-child(1)
				color: #f88777
			span:nth-child(2)
				color: #c0c0c0
	.clientsRequestsStory
		text-align: justify
		padding: 2em 6.56em
	.clientsRequestsSlogan,
	.clientsRequestsLocation
		text-align: center
	
@media (min-width: 1200px)

	body
		font-size: 1.2em


@media (max-width: 991.5px)

	body
		font-size: 1.2em
		
		.clientsRequests

			.clientsRequestsOpen
				font-size: 1.1em
				.root,
				.cargoType,
				.comments,
				.rate,
				.buyRate
					border: 1px solid #c9c9c9
				.root	
					.clientsRequestsOpenIcon
						background-position: 85%
					.clientsRequestsOpenFitures	
						.clientsRequestsOpenFituresLabel
							
						.clientsRequestsOpenFituresTowns
							
						.clientsRequestsOpenFituresDate
							
				.cargoType
					text-align: center
					.clientsRequestsOpenСargoTypeName
						color:#222222
						font-size: 1em


		